<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLyKhoHang"
        tools:targetApi="31">
        <activity
            android:name=".activities.StatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.UpdateProductActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.UpdateBillActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.UpdateUserActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CreateBillActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BillListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.ProductListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.CreateProductActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.CreateUserActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.UserListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>